@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    margin:0;
    font-family:"Quicksand";    
    color: rgb(39, 36, 36);
    
}

body{
    background-image:linear-gradient(rgba(255, 255, 255, 0.5),rgba(248, 183, 6, 0.5)), url(me.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 70vw;

}

.navbar{
    padding: 50px;
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid rgb(255, 123, 16);
    background-image: url(header.png);
    background-size: 750px;
    background-position: center;
}

.navbar h1 {
    color: rgb(248, 123, 6);
}

.navbar .nav-links
{
    margin-left: auto;
}

.navbar a{
    text-decoration: crimson;
    margin-left: 20px;
    padding: 20px;
}

.navbar a:hover{
    color: darkgoldenrod;
}

.container{
    max-width: auto ;
    padding: 50px;
}

.blog-item{
    padding: 10px 20px;
    margin: 20px 0;
    border-bottom: 1px solid darkorange;
    background-image:linear-gradient(rgba(255, 255, 255, 0.5),rgb(255, 237, 189));}

.blog-item:hover{
    box-shadow: 2px 3px 3px rgb(245, 209, 91);
}

.blog-item h5{
    font-size: 25px;
    color: rgb(255, 149, 28);
    margin-bottom: 15px;
}

.blog-pic{
    margin: 20px 0;
    text-align: center;
}

.blog-footer{
    padding: 10px 20px;
    margin: 20px 0;
    border-bottom: 1px solid darkorange;
    background-image:linear-gradient(rgb(247, 224, 148),rgb(255, 195, 122));
    text-align: center;
}

.blog-footer h2{
    font-size: 60px;
    color: rgb(255, 149, 28);
    margin-bottom: 15px;
}

.direct{
    padding: 50px;
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.direct1 button{
    background-image:linear-gradient(  rgb(215, 155, 255),rgb(255, 133, 160),rgb(255, 193, 136),rgb(255, 248, 144));
    border-radius: 10%;
    border-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.direct2 button{
    background-color: rgb(101, 141, 252);
    border-radius: 10%;
    border-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.direct p{
    color: transparent;
}